.vgl-banner  {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: blue;
    text-align: start;
    padding: 1rem;
    border-bottom: solid 3px black;
}

.vgl-logo{
    height: 5rem;
}